/.vs
/build.bat
/packages/
/RombaSharp/bin/
/RombaSharp/obj/
/RombaSharp/RombaSharp.csproj.user
/SabreTools/bin/
/SabreTools/obj/
/SabreTools/Properties/launchSettings.json
/SabreTools/SabreTools.csproj.user
/SabreTools.Core/bin/
/SabreTools.Core/obj/
/SabreTools.Filtering/bin/
/SabreTools.Filtering/obj/
/SabreTools.Help/bin/
/SabreTools.Help/obj/
/SabreTools.IO/bin/
/SabreTools.IO/obj/
/SabreTools.Library/bin/
/SabreTools.Library/obj/
/SabreTools.Logging/bin/
/SabreTools.Logging/obj/
/SabreTools.Skippers/bin/
/SabreTools.Skippers/obj/
/SabreTools.userprefs
