/.vs
/build.bat
/packages/
/RombaSharp/bin/
/RombaSharp/obj/
/RombaSharp/RombaSharp.csproj.user
/SabreTools/bin/
/SabreTools/obj/
/SabreTools/Properties/launchSettings.json
/SabreTools/SabreTools.csproj.user
/SabreTools.Data/bin/
/SabreTools.Data/obj/
/SabreTools.Library/bin/
/SabreTools.Library/obj/
/SabreTools.Skippers/bin/
/SabreTools.Skippers/obj/
/SabreTools.userprefs
